---
export interface Props {
	src: string;
}
const { src } = Astro.props;
---
<span>
  <img 
    src={'/docs/assets/' + src + '.png'} 
    class="max-w-[500px] border-[1px] border-secondary" 
  />
</span>
