---
import appStore from "~/assets/AppStore.svg";
---

<footer
  class="text-secondary container mx-auto my-12 py-6 text-center md:text-start border-solid border-0 border-t"
>
  <p
    class="text-sm pb-6 flex flex-col gap-4 md:gap-8 md:flex-row justify-center"
  >
    <a
      class="hover:text-primary"
      href="https://www.instagram.com/seriesphotosapp">Instagram</a
    >
    <a
      class="hover:text-primary"
      href="https://www.threads.net/@seriesphotosapp">Threads</a
    >
    <a class="hover:text-primary" href="/legal/privacy.html">Privacy Policy</a>
    <a class="hover:text-primary" href="/legal/terms.html">Terms of Use</a>
    <a class="hover:text-primary" href="mailto:support@recentralized.org"
      >Contact</a
    >
    <a class="hover:text-primary" href="/docs.html">Help</a>
  </p>

  <p class="pb-6 flex flex-col items-center">
    <a href="https://apps.apple.com/us/app/id1471473571">
      <img
        src={appStore}
        width={120}
        height={40}
        alt="Download on the App Store"
      />
    </a>
  </p>

  <p class="text-xs text-center">Copyright &copy; 2023 Recentralized</p>
</footer>
