---
const { generator, site } = Astro
const { frontmatter } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Series — {frontmatter.title}</title>

    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6396132/6732212/css/fonts.css" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149900284-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-149900284-1');
    </script>
  </head>
  <body class="dark bg-back text-secondary container mx-auto max-w-[800px] p-8">
    <article class="prose prose-neutral dark:prose-invert">
      <slot />
    </article>
  </body>
</html>